body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
  }

h1 {
    color: black;
  }

p {
    color: black;
    font-size: 16px;
    line-height: 1.6;
  }

a {
    color: blue;
  }

a:hover {
    text-decoration: underline;
  }


